body {
  margin-top: 30px;
}

a,
a:hover {
  color: #212529;
}

a:hover {
  text-decoration: none;
}

.block {
  height: 350px;
  background: rgba(86, 61, 124, 0.15);
  margin-bottom: 30px;
}

.label {
  font-size: 0.85rem;
  font-weight: bold;
}
.jumbotron {
  background-color: rgb(88, 88, 80);
  color: rgb(250, 246, 246);
  margin-top: 50px;
}
.footer {
  background-color: rgb(88, 88, 80);
  color: rgb(250, 246, 246);
}
